@import "../settings/breakpoints";

.footer {
  width: 100%;
  padding: var(--container-spaces);
  background-color: var(--footer-background-color);
  color: var(--footer-text-color);
  font-size: var(--footer-font-size);
  letter-spacing: var(--footer-letter-spacing);
  text-align: center;
  z-index: 9999;
}

.footerItems {
  display: grid;
  margin-top: var(--spacer-m);
  gap: var(--spacer-s);

  @media (--footer-breakpoint) {
    grid-template-columns: 1fr 1fr;
  }
}

.socialContent,
.footerItem {
  & ul {
    list-style-type: none;
    padding: 0;
  }

  & li {
    margin-top: var(--spacer-xs);
  }
}

#socialContent {
  @media (--footer-breakpoint-down) {
    margin: 0 auto;
  }

  @media (--footer-breakpoint) {
    text-align: left;
  }
}

#legalContent {
  @media (--footer-breakpoint) {
    text-align: right;
  }
}
