.imageWrapper {
  margin: var(--spacer-m) 0;

  & img {
    height: auto;
  }
}

.caption {
  font-size: 0.8em;
  color: var(--dark-grey);
  text-align: right;
  margin-top: calc(var(--spacer-xs) / 2);
}
