@import "../../settings/breakpoints";

.imageWithText {
  --row-gap: var(--spacer-m);
  --column-gap: var(--spacer-m);
  --text-padding: 0;
  --copy-padding: var(--row-gap) 0;

  position: relative;
  width: 100%;
  display: grid;
  row-gap: var(--row-gap);
  align-items: center;
  justify-content: center;

  @media (--medium) {
    --text-padding: var(--spacer-3);

    &.right,
    &.left {
      grid-template-columns: repeat(2, 1fr);
      column-gap: var(--column-gap);

      & .textWrapper {
        padding: var(--text-padding);
      }
    }

    &.right {
      & .textWrapper {
        grid-row: 1;
        grid-column: 1;
      }

      & .imageWrapper {
        grid-row: 1;
        grid-column: 2;
      }
    }
  }

  @media (--large) {
    --text-padding: var(--spacer-5);
  }

  @media (--xxlarge) {
    --text-padding: var(--spacer-10);
  }
}

.imageWrapper {
  position: relative;
}

.caption {
  padding-top: var(--spacer-1);
  text-align: right;
}

.textWrapper {
  text-align: left;
  max-width: var(--max-text-width);
}

/* .overline {} */

.copy {
  padding: var(--copy-padding);
}

.link {
  text-decoration: underline;
  text-transform: uppercase;
}
