/* @import "../../settings/breakpoints"; */

.textBlock {
  text-align: center;
  display: flex;
  flex-direction: column;
  gap: var(--spacer-m);
  margin: var(--spacer-m) /;
}

.overline {
  padding-bottom: 1em;
}
