@import "../../settings/breakpoints";

.navToggle {
  background-color: transparent;
  border: 0;
  padding: 0;
  line-height: 1;
  cursor: pointer;
  color: var(--header-component-color);

  & svg {
    fill: currentColor;
    height: 20px;
    width: auto;
  }

  @media (--header-breakpoint) {
    display: none;
  }
}
