@import "../settings/breakpoints";

.navOverLay {
  position: fixed;
  inset: 0;
  z-index: var(--nav-z-index);
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: auto 1fr;
  background-color: var(--pink);
  padding: var(--edge-border);
  max-width: 100vw;
  max-height: 100vh;
  overflow: hidden;

  --link-color: var(--soft-white);
  --link-color-hover: var(--soft-white);
  --link-color-active: var(--soft-white);
}

.overlayTop {
  text-align: right;
  padding-bottom: var(--spacer-xs);
  border-bottom: 1px solid var(--soft-white);
  margin-bottom: var(--spacer-s);
}

.navClose {
  & svg {
    width: max(30px, 8vw);
    fill: currentColor;
  }
}

.navList {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: var(--spacer-xs);
  list-style: none;
  max-height: 100%;
  overflow-y: auto;
  margin: 0;
  padding: 0;
  color: var(--soft-white);
  font-size: max(18px, 10vw);
  font-weight: 700;
}
