@import "../settings/breakpoints";

.emptyCart {
  min-height: 25vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.cartLines {
  list-style: none;
  padding: 0;
  display: grid;
  grid-template-columns: 1fr;
  gap: var(--spacer-xs);
}

.cartLine {
  display: grid;
  grid-template-columns: 25% 75%;
  grid-template-rows: 1fr auto;
  gap: var(--spacer-xs);

  @media (--medium) {
    grid-template-columns: 25% 3fr 1fr;
    grid-template-rows: 1fr;
    gap: var(--spacer-s);
  }
}

.lineImage {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.lineContent {
}

.lineHeadline {
  font-size: var(--font-size-h5);
  line-height: 1;
  margin-bottom: var(--spacer-xs);

  @media (--medium) {
    font-size: var(--font-size-h4);
  }
}

.quantityControlWrapper {
  display: inline-flex;
  flex-direction: column;
  align-items: center;
}

.quantityControls {
  display: flex;
  font-weight: 700;
  --corner-radius: 40px;
}

.decrement,
.increment {
  background-color: unset;
  border: 2px solid var(--pink);
  padding: 4px 10px;
  cursor: pointer;
  line-height: 1;

  &:hover {
    color: var(--soft-white);
    background-color: var(--glaucous);
  }
}

.decrement {
  border-top-left-radius: var(--corner-radius);
  border-bottom-left-radius: var(--corner-radius);
  border-right: unset;
}

.increment {
  border-top-right-radius: var(--corner-radius);
  border-bottom-right-radius: var(--corner-radius);
  border-left: unset;
}

.quantity {
  padding: 4px 10px;
  border: 2px solid var(--pink);
  min-width: 60px;
  text-align: center;
}

.removeLine {
  font-size: 0.75em;
}

.lineSummary {
}

.lineTotal {
  display: block;
  font-weight: 550;
}

.itemPrice {
  font-size: 11px;
  color: var(--dark-grey);
  line-height: 1;
  position: relative;
  bottom: 0.2em;
}
