@import "../settings/breakpoints";

.cartActions {
  display: flex;
  gap: var(--spacer-xs);
  padding-top: var(--spacer-xs);

  @media (--small-only) {
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }
}

.checkoutButton,
button.checkoutButton {
  min-width: 50%;
  padding: 18px;
}
