@import "../settings/breakpoints";

.header {
  --link-color: var(--white);
}

.headerInner {
  display: flex;
  gap: var(--spacer-xs);
  justify-content: space-between;
  padding-top: var(--spacer-m);
  /* align-items: center; */

  @media (--header-breakpoint) {
    gap: var(--spacer-m);
  }
}

.logoLink {
  --link-color: var(--header-logo-color);
  --link-color-hover: var(--tertiary-color);
  display: flex;
}

.headerLogo {
  height: 80px;
  width: intrinsic;
  fill: currentColor;
  font-size: 0;
  line-height: 1;
  margin: 4px;
}
