@import "../settings/breakpoints";

.header {
  /* --link-color: var(--white); */
}

.header-overlay {
  position: absolute;
}

.headerInner {
  display: flex;
  gap: var(--spacer-xs);
  justify-content: space-between;
  padding-top: var(--spacer-m);

  @media (--header-breakpoint) {
    gap: var(--spacer-m);
  }
}

.logoLink {
  --link-color: var(--header-logo-color);
  --link-color-hover: var(--tertiary-color);
  display: flex;
}

.headerLogo {
  /* width: min(320px, 40vw); */
  width: min(320px, 60%);
  height: intrinsic;
  fill: currentColor;
  font-size: 0;
  line-height: 1;
  margin: 4px;
  flex: 1;
}

.headerMiddle {
  flex: 1;
  display: flex;
  align-items: center;
  justify-content: flex-end;

  @media (--header-breakpoint-down) {
    display: none;
  }
}
