@import "../settings/breakpoints";

.hero {
  --aspect-ratio: 390 / 283;
  --object-position: center;

  @media (--large) {
    --aspect-ratio: 1440 / 600;
  }

  &:not(.decoratedHero) {
    & .imageWrapper {
      max-height: calc(100vh - var(--header-height));
    }
  }
}

.decoratedHero {
  --aspect-ratio: 390 / 583;
  --object-position: bottom;
  --min-logo-width: 290px;
  --max-logo-width: 290px;
  --y-origin: calc(var(--spacer-8) + var(--header-height));
  --spacer: var(--spacer-4);

  @media (--medium) {
    --aspect-ratio: 1440 / 1100;
    --max-logo-width: 465px;
  }

  @media (--large) {
    --aspect-ratio: 1440 / 800;
    --max-logo-width: 500px;
  }

  position: relative;
  margin-top: calc(-1 * var(--header-height));
  overflow: hidden;

  & .imageWrapper {
    height: 100vh;
  }

  /* Scrim */
  /* & .imageWrapper::after {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: black;
    opacity: 0.4;
  } */
}

.imageWrapper {
  position: relative;
  width: 100%;
  aspect-ratio: var(--aspect-ratio);
}

.image {
  width: 100%;
  height: 100%;
  object-fit: cover;
  object-position: var(--object-position);
}

.caption {
  padding-top: var(--spacer-1);
  text-align: right;
}

.decorations {
  position: absolute;
  top: var(--y-origin);
  left: 0;
  width: 100%;
  height: 100%;
  z-index: var(--foreground-z-index);
  overflow: hidden;
}

.decorationsInner {
  display: flex;
  flex-direction: column;
  align-items: center;

  & .logo {
    max-width: clamp(var(--min-logo-width), 31%, var(--max-logo-width));
  }

  & .headline {
    text-transform: uppercase;
    padding-top: var(--spacer);
    padding-bottom: var(--spacer);
  }

  & .cta {
    width: 214px;
    min-width: max-content;
    max-width: 100%;
  }
}
