.miniCart {
  position: fixed;
  inset: var(--spacer-m) var(--spacer-m) auto auto;
  max-height: 90vh;
  /* border: 2px solid var(--primary-color); */
  border: 1px solid var(--shadow-color);
  box-shadow: var(--shadow-elevation-medium);
  border-radius: 10px;
  max-width: 600px;
  padding: var(--spacer-s);
  background-color: var(--white);
  overflow: auto;
}
