.miniCart {
  position: fixed;
  inset: var(--spacer-m) var(--spacer-m) auto auto;
  max-height: 90vh;
  display: flex;
  flex-direction: column;
  /* border: 2px solid var(--primary-color); */
  border: 1px solid var(--shadow-color);
  box-shadow: var(--shadow-elevation-medium);
  border-radius: 10px;
  max-width: min(500px, 80vw);
  padding: var(--spacer-s);
  background-color: var(--white);
}

.closeCart {
  background-color: unset;
  border: unset;
  cursor: pointer;

  & svg {
    width: 20px;
    height: 20px;
  }
}

.cartHeader {
  display: flex;
  justify-content: space-between;
}

.cartBody {
  overflow: auto;
}
