@import "../settings/breakpoints";

.miniCart {
  position: fixed;
  inset: var(--edge-border);
  max-height: 90vh;
  display: flex;
  flex-direction: column;
  gap: var(--spacer-xs);
  border: 1px solid var(--shadow-color);
  box-shadow: var(--shadow-elevation-medium);
  border-radius: 10px;
  max-width: 100%;
  padding: var(--spacer-s);
  background-color: var(--white);
  container-type: inline-size;

  @media (--medium) {
    inset: var(--edge-border) var(--edge-border) auto auto;
    max-width: min(500px, 80vw);
  }
}

.closeCart {
  background-color: unset;
  border: unset;
  cursor: pointer;
  line-height: 1;
  color: var(--dark-grey);

  &:hover {
    color: var(--pink);
  }

  & svg {
    width: 20px;
    height: 20px;
    fill: currentColor;
  }
}

.cartHeader {
  display: flex;
  justify-content: space-between;
  gap: var(--spacer-s);
}

.cartBody {
  overflow: auto;
  flex: 1;
  border-top: 1px solid var(--light-teal);
  border-bottom: 1px solid var(--light-teal);
}
