.productCard {
  display: flex;
  flex-direction: column;
  gap: var(--spacer-xs);
  border: 1px solid var(--medium-grey);
  border-radius: 10px;
  padding: var(--spacer-xs);
}

.cardImage {
  width: 100%;
  aspect-ratio: 1 / 1;
  object-fit: cover;
}

.cardDetails {
  flex: 1;
}

.cardDescription {
}

.cardActions {
}

.price {
  color: var(--pink);
}
