.productCard {
  display: flex;
  flex-direction: column;
  gap: var(--spacer-xs);
  border: 1px solid var(--medium-grey);
  border-radius: 10px;
  padding: var(--spacer-xs) var(--spacer-xs) calc(var(--spacer-xs) * 1.3);
  color: var(--black);
  background-color: var(--light-grey);

  --heading-color: var(--black);
}

.cardImage {
  width: 100%;
  height: auto;
  aspect-ratio: 1 / 1;
  object-fit: cover;
  margin-bottom: var(--spacer-xs);
}

.cardDetails {
  flex: 1;
}

.cardDescription {
}

.cardActions {
}

.price {
  color: var(--pink);
}
