:root {
  /* Color Principals */
  --white: hsl(0, 0%, 100%);
  --soft-white: #f9f6e8;
  --light-grey: #f5f3f3;
  --medium-grey: #939393;
  --dark-grey: #6c6c6c;
  --black: #1f1c1c;

  /* Brand Colors */
  --pink: #ff00d8;

  --hot-magenta: hsla(309, 100%, 50%, 1);
  --eerie-black: hsla(0, 5%, 12%, 1);
  --cosmic-latte: hsla(49, 59%, 94%, 1);
  --coral-pink: hsla(4, 98%, 77%, 1);
  --glaucous: hsla(227, 38%, 63%, 1);

  --overlay: hsla(39, 100%, 8%, 0.6);

  --light-teal: hsl(191, 75%, 69%);
  --teal: hsl(191, 75%, 38%);
  --dark-teal: hsl(191, 23%, 28%);
  --cream: hsl(192, 11%, 91%);
  --goldenrod: hsl(37, 100%, 72%);
  --dark-goldenrod: hsl(37, 64%, 29%);
  --light-pink: hsl(343, 76%, 72%);
  /* --pink: hsl(343, 76%, 62%); */
  --dark-pink: hsl(343, 76%, 32%);

  /* Color Implementation */
  --primary-color: var(--hot-magenta);
  --secondary-color: var(--coral-pink);
  --tertiary-color: var(--glaucous);

  --error-color: var(--red);
  --success-color: var(--soft-white);
  --active-color: var(--primary);

  --header-background-color: var(--secondary-color);
  --header-logo-color: var(--white);
  --header-component-color: var(--dark-teal);

  /* --body-bg: var(--cream);
  --body-color: var(--black);
  --heading-color: var(--black); */
  --body-bg: var(--black);
  --body-color: var(--cream);
  --heading-color: var(--cream);

  /* --link-color: var(--primary-color); */
  --link-color: inherit;
  --link-color-hover: var(--secondary-color);
  --link-color-active: var(--tertiary-color);

  --button-border: 0;
  --button-background-color: var(--pink);
  --button-background-color-hover: var(--secondary-color);
  --button-background-color-active: var(--tertiary-color);
  --button-color: var(--soft-white);
  --button-hover-color: var(--soft-white);
  --button-active-color: var(--soft-white);

  --footer-background-color: var(--black);
  --footer-text-color: var(--cream);

  --selection-background-color: var(--pink);
  --selection-color: var(--soft-white);
}
