:root {
  /* Color Principals */
  --white: hsl(0, 0%, 100%);
  --soft-white: #f9f6e8;
  --light-grey: #f5f3f3;
  --medium-grey: #939393;
  --dark-grey: #6c6c6c;
  --black: #2f2b2b;

  /* Brand Colors */
  --light-cream: hsl(61, 26%, 89%);
  --moss: hsl(72, 30%, 67%);
  --olive: hsl(71, 39%, 19%);
  --dark-olive: hsla(112, 20%, 20%, 0.51);
  --overlay: hsla(39, 100%, 8%, 0.6);

  --light-teal: hsl(191, 75%, 69%);
  --teal: hsl(191, 75%, 38%);
  --dark-teal: hsl(191, 23%, 28%);
  --cream: hsl(192, 11%, 91%);
  --goldenrod: hsl(37, 100%, 72%);
  --dark-goldenrod: hsl(37, 64%, 29%);
  --pink: hsl(343, 76%, 62%);

  /* Color Implementation */
  --primary-color: var(--dark-teal);
  --secondary-color: var(--teal);
  --tertiary-color: var(--pink);

  --error-color: var(--red);
  --success-color: var(--soft-white);
  --active-color: var(--primary);

  --header-background-color: var(--secondary-color);
  --header-logo-color: var(--white);
  --header-component-color: var(--dark-teal);

  --body-bg: var(--cream);
  --body-color: var(--dark-teal);

  --link-color: var(--primary-color);
  --link-color-hover: var(--secondary-color);
  --link-color-active: var(--tertiary-color);

  --button-background-color: var(--teal);
  --button-background-color-hover: var(--dark-teal);
  --button-background-color-active: var(--light-teal);
  --button-color: var(--soft-white);
  --button-hover-color: var(--soft-white);
  --button-active-color: var(--soft-white);

  --heading-color: var(--primary-color);

  --footer-background-color: var(--cream);
  --footer-text-color: var(--dark-teal);

  --selection-background-color: var(--pink);
  --selection-color: var(--soft-white);
}
