.button {
  display: inline-block;
  padding: var(--spacer-xs) 24px;
  border: var(--border-width) solid var(--button-accent);
  border-radius: var(--button-border-radius);
  background-color: var(--button-background-color);
  font-family: var(--button-font-family);
  font-weight: 400;
  font-size: var(--button-font-size);
  color: var(--button-color);
  line-height: 1;
  text-align: center;
  text-transform: uppercase;
  transition-property: color, background-color, border-color;

  &:hover {
    background-color: var(--button-background-color-hover);
    color: var(--button-hover-color);
  }

  &:active {
    background-color: var(--button-background-color-active);
    color: var(--button-active-color);
  }

  &:not(:disabled) {
    cursor: pointer;
  }

  &:disabled {
    background-color: var(--light-grey);
    color: var(--dark-grey);
  }

  &.secondary {
    --button-background-color: var(--pink);
    --button-background-color-hover: var(--dark-pink);
    --button-background-color-active: var(--light-pink);
  }
}

.button-link {
  background-color: unset;
  border: unset;
  cursor: pointer;
  color: var(--link-color);

  &:hover {
    color: var(--link-color-hover);
  }

  &:active {
    color: var(--link-color-active);
  }
}
