@import "@settings/breakpoints.css";

.headline {
  margin-bottom: var(--spacer-m);
  text-align: center;
  line-height: 1;
}

.recipeImage {
  aspect-ratio: 16 / 9;
  object-fit: cover;
}

.recipeDescription {
  margin-top: var(--spacer-m);
  margin-bottom: var(--spacer-l);
  font-size: 1.5em;
  text-align: center;
}

.recipeMain {
  display: grid;
  gap: var(--spacer-l);

  @media (--medium) {
    grid-template-columns: 1fr 1fr;
  }

  & h2 {
    margin-bottom: var(--spacer-s);
  }
}
