.page {
  --headline-padding: var(--spacer-4);

  @media (--medium) {
    --headline-padding: var(--spacer-5);
  }

  @media (--large) {
    --headline-padding: var(--spacer-6);
  }

  padding-top: 5%;
}

.headline {
  display: flex;
  align-items: center;
  justify-content: center;
  padding-top: var(--headline-padding);
  padding-bottom: var(--headline-padding);
  line-height: 1;
}

.subtext {
  font-size: 0.5em;
  vertical-align: center;
}
